<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Customer Details</h1>

    <h2>Customer Information</h2>
    <p><strong>Name:</strong> <%= customer.customer_name %></p>
    <p><strong>Email:</strong> <%= customer.email %></p>
    <p><strong>Phone:</strong> <%= customer.phone_no %></p>

    <h2 class="mt-4">Order History</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Order Number</th>
            <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <% orders.forEach(order => { %>
            <tr>
                <td><%= moment(order.datetime).format('MMMM Do YYYY, h:mm:ss a') %></td>
                <td><%= order.order_id %></td>
                <td>₹<%= order.total %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <a href="/" class="btn btn-primary">Back to Home</a>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>
</html>
