<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocery Store</title>
</head>
<body>
    <h1>Grocery Store Management System</h1>
    <form  method="GET" action="/manage-products">
        <button>Manage Products</button>
    </form>
    <form method="GET" action="/new-order">
        <button>New Order</button>
    </form>

    <h2>Recent Orders</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Date</th>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <% orders.forEach(order => { %>
            <tr>
                <td><%= order.datetime %></td>
                <td><%= order.order_id %></td>
                <td><%= order.customer_name %></td>
                <td><%= order.total %> Rs</td>
            </tr>
        <% }); %>
        <tr>
            <td colspan="3">Total</td>
            <td><%= totalCost %> Rs</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
